.body {
  position: fixed;
  display: flex;
  overflow: hidden;
}

a {
  color: white;
}

.App {
  display: grid;
  background-color: #bd4f6c;
  background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);

  grid-template-rows: 0.2fr 2fr 1.5fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav nav"
    "map map"
    "dashboard dashboard";
  width: 100vw;
  height: 100vh;
  background-color: grey;
  overflow: hidden;
}

.map {
  grid-area: map;
}

.hide {
  opacity: 0;
  visibility: collapse;
}

.marker {
  background-color: #f90;
  height: 20px;
  border-radius: 50%;
  width: 20px;
}

.destination-marker {
  height: 10px;
  background-color: #f00;
  border-radius: 50%;
  width: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  grid-area: nav;
  align-items: center;
}

.navbar-left {
  display: flex;
  flex-grow: 5;
  height: 100%;
  color: white;
  padding: 1vh;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  flex-grow: 1;
}

.icon {
  cursor: pointer;
  size: 0.1em;
  color: white;
}

p {
  font-size: 3.5vh;
  padding: 0;
  margin: 0.2vh;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: dashboard;
  height: 100%;
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: input;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 90%;
}

.input-bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  color: white;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 10px;
  width: 80%;
  height: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 60%;
  min-width: 200px;
  justify-content: space-evenly;
  height: 100%;
}

.route-duration {
  display: flex;
  width: 100%;
  grid-area: route;
  height: 90%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.right-panel {
  display: flex;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  width: 80%;
  height: 100%;
  font-size: 3vh;
  padding-left: auto;
  padding-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.right-panel-text {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background-color: #bd4f6c;
  background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
  height: 50%;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2vh;
  padding: 2%;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 10px;
  width: 50%;
}

@media (orientation: portrait) {
  .App {
    display: grid;
    grid-template-rows: 1fr 5fr 3fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "map"
      "dashboard";
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  p {
    font-size: 4vw;
  }

  .dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    grid-template-areas:
      "input"
      "route";
    flex-direction: column;
    grid-area: dashboard;
    height: 100%;
    width: 100vw;
  }

  .route-duration {
    height: 80%;
  }

  .right-panel {
    background-color: rgba(0, 0, 0, 0);
    font-size: 2.5vh;
    border: none;
    height: 80%;
    width: fit-content;
  }

  .input-bars {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-top: 10%;
  }

  .modal {
    width: 80%;
  }
  .navbar-left {
    flex-grow: 1;
  }
}
